:root {
  $darkGray: rgb(114, 114, 114);
  $lightGray: rgb(185, 185, 185);
  $LightRed: rgba(255, 0, 0, 0.6);
  body {
    --ion-font-family: "Lato", sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
  }
  .alert,
  #win,
  .winAlert {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    button {
      text-align: center;
      margin-top: 2rem;
      padding: 1rem;
      background-color: $LightRed;
      border-radius: 10px;
      box-shadow: 2px 2px 10px lightgray;
      color: $darkGray;
    }
  }
  .close {
    margin-right: auto;
    margin-left: auto;
    background-color: $LightRed;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;
    color: $darkGray;
  }
  .container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  button {
    margin: auto auto;
  }
  .rules {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  ion-card {
    margin: auto auto;
    height: 500px;
    max-width: 900px;
  }
  h3 {
    color: black;
  }
  h1 {
    color: $darkGray;
    font-size: 0.9rem;
  }
  ion-fab-button {
    --background-color: none;
    --box-shadow: none;
    border-radius: 50%;
  }
  ion-icon {
    color: $LightRed;
  }
  .playIcon {
    width: 20px;
    height: 20px;
    border: 1px solid $LightRed;
  }
  .downloadIcon {
    position: absolute;
    bottom: 4rem;
    right: -5rem;
  }
  .syncIcon {
    position: absolute;
    bottom: 7rem;
    right: -5.5rem;
  }

  #dicee {
    background: url("/images/six.png") no-repeat center;
    --border-radius: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: -20px;
  }
  .round {
    font-size: 2rem;
  }
  ion-fab-button {
    width: 120px;
    h3 {
      margin-right: 10px;
    }
  }
  ion-card-content {
    height: 100%;
    padding: 0;
  }
  ion-grid {
    height: 100%;
    padding: 0;
  }
  ion-row {
    height: 100%;
  }
  ion-button {
    height: 75px;
    background-color: $LightRed;
    position: absolute;
    bottom: 20%;
    left: 35%;
    p {
      color: $darkGray;
    }
    h3 {
      color: $lightGray;
    }
  }
  .global {
    color: $LightRed;
    font-size: 3rem;
    margin-top: 2rem;
  }
  .player {
    padding-top: 4rem;
    h2 {
      font-size: 2.5rem;
    }
  }
  .player1 {
    background-color: rgb(246, 246, 246);
    h2 {
      color: $darkGray;
    }
  }
  .player2 {
    h2 {
      color: $lightGray;
    }
  }
  @media screen and (max-width: 375px) {
    .alert,
    #win,
    .winAlert {
      font-size: 2rem;

      margin-bottom: 1rem;
    }
    ion-button {
      left: 25%;
    }
    .downloadIcon {
      width: 90px;
      bottom: 1rem;
    }
    .syncIcon {
      width: 120px;
      bottom: 3rem;
    }
  }
}
